<div>
  <h1>Edit</h1>
  <form class="editpost">
    <div>
      <div class="hidden" id="post_id">{{post.id}}</div>
      <label for="post_title">Post Title:</label>
      <br />
      <input
        type="text"
        class="form-input"
        id="post_title"
        value="{{post.post_title}}"
      />
    </div>
    <div>
      <label for="post_text">Post Content:</label>
      <br />
      <input
        type="text"
        class="form-input"
        id="post_text"
        value="{{post.post_text}}"
      />
    </div>
    <div class="form-group">
      <button
        type="update" id="updateBtn"
      >Update</button>
      <button
        type="delete" id="deleteBtn"
      >Delete</button>
    </div>
    <p>Posted by {{post.user.username}} on {{post.post_date}}.</p>
  </form>
</div>
{{#each post.comments}}
  <div
    id="comment-container">
    <h3>{{this.user.username}}</h3>
    <p>{{this.comment_text}}</p>
    <p>- {{this.comment_date}}</p>
  </div>
{{/each}}

<script src="/js/editpost.js"></script>