<div class="flex flex-col h-screen yellowgradient">
<h1 class="font-extrabold text-6xl text-[#E9CA59] fontborder leading-none pt-8 pl-9 md:text-9xl md:pt-16">{{user.username}}</h1>
<h2 class="font-normal text-xl leading-none md:leading-8 pt-2 pl-9 md:text-4xl md:pb-6">{{user.user_email}}</h2>

{{#each user.posts}}
<div class="flex flex-col pt-6 pl-9 md:pl-36">
<p class="font-medium text-xl md:text-5xl">{{this.post_title}}</p>

<div class="flex">
<p class="font-normal text-xs text-[#3E4F53] pr-20 md:text-xl">{{dateFormat this.post_date}}</p>
<a class="font-normal text-xs text-[#75652C] md:text-xl" href="/api/posts/edit/{{this.id}}">Edit</a>
</div>
</div>
{{/each}}
</div>